@use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "mixins" as *;
@use "variables" as *;

@use "sass:color";
@use "sass:string";

@each $header in $headers {
	#{$header} {
		@include use-header-font;
	}
}

@each $text in $text-elems {
	#{$text} {
		@include use-text-font;
	}
}

.todo-list-wrapper {
	margin: 20px 30px;
	display: flex;
}

.card.todo-list-item {
	flex-basis: 25%;
	transition: .12s border;
	margin: 6px;

	.item-status-container {
		display: flex;
		align-items: center;
		margin-bottom: 2px;
	}
	
	@each $status, $status-color in $todo-status-color-mappings {
		&.#{$status} {
			border-top: 8px solid #{$status-color};
		}

		.todo-status-alert-text {
			font-weight: 700;
			text-transform: capitalize;

			&.#{$status} {
				color: color.adjust($status-color, $lightness: -7.5%);
			}
		}
	}

	.todo-list-item-check {
		@include clickable;
		width: fit-content;
		margin-right: 12px;
	}
}