@use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "mixins.scss";
@use "variables.scss";

@each $header in $headers {
	#{$header} {
		font-family: $header-font;
	}
}

@each $text in $text-elems {
	#{$text} {
		font-family: $text-font;
	}
}

.todo-list-wrapper {
	margin: 20px 30px;
	display: flex;
}

.card.todo-list-item {
	flex-basis: 25%;
	transition: .75s border;
	margin: 6px;
	
	@each $status, $status-color in $todo-status-color-mappings {
		&.#{$status} {
			border-top: 4px solid #{$status-color};
		}
	}
}

.todo-list-item-check {
	@include clickable;
}